MSSQL_SA_PASSWORD=ModularApi_dev_StrongPass1
MSSQL_HOST_PORT=14333
MSSQL_COLLATION=SQL_Latin1_General_CP1_CI_AS
MODULAR_API_SQLSERVER_CONTAINER=modular_api_sqlserver_2019
MODULAR_API_SQLSERVER_HOST=127.0.0.1
MODULAR_API_SQLSERVER_PORT=14333
MODULAR_API_SQLSERVER_DATABASE=modular_api_graphql_v1
MODULAR_API_SQLSERVER_USERNAME=sa
MODULAR_API_SQLSERVER_PASSWORD=ModularApi_dev_StrongPass1
MODULAR_API_SQLSERVER_DRIVER=ODBC Driver 17 for SQL Server